<% if @name %>
<h1>'My name is <%=@name%>'</h1>
<% end %>
<div style='border: 3px dashed red'>
  <img src='https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png/revision/latest?cb=20150911004230'>
</div>

<form action="/named-cat">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </div>
</form>
